.Box-Game{
    margin-top: 8rem;
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.Box-Game-Header{
    width: 30rem;
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: #08ad43;
    border: 2px solid #407e28;
    border-radius:2px;
    box-shadow: 2px 0px 1px #89f35f, -2px -2px 1px #89f35f;
}

.Box-Title{
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 2px #76e24b;
}   

.Box-Game-Footer{
    width: 30.35rem;
    margin-top: 0px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: column wrap;
    border-radius: 2px;
    background-color: #c6b0ba;
    box-shadow: 2px 2px 1px #72656b, 2px 0px 1px #72656b;
}

.Box-Game-Item{
    color: #94ff69;
    text-shadow: 1px 1px black;
}

.Number-Box{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    padding:40px 0 40px 0;
    margin: 4rem 18rem 4rem 18rem;
    border: 2px solid white;
}

p{
    margin: 0;
}

.Number-Box-Numbers{
    margin: 10px;
    font-size: 40px;
    color: white;
}

.Number-Box-Title{
    font-size: 42px;
    color:#eaffd3;
    text-shadow: 2px 2px 2px #76e24b;
}