.game-week{
    margin-right: 35px;
    text-shadow: 1px 1px 2px #c7f6b5;
    margin-top: 120px;
    font-size: 25px;
    color:#53dc5c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.game-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}